@model Edujinni.Models.AddExam
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddExam</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/humanity/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            $("#date").datepicker({ Changemonth: true, Changeyear: true });
            $("#date1").datepicker({ Changemonth: true, Changeyear: true });
        });
    </script>
</head>
<body>
    @{ 
        List<SelectListItem> list = new List<SelectListItem>();
    }
    <div class="row">
        <div class="col-md-12">
            <br /><br />
            <div class="row mt-4">
                <div class="col-md-offset-2 col-md-4">
                    @Html.DropDownListFor(Model=>Model.classs,list,"Class",new { @class="form-control"})
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(Model => Model.section, list, "Section", new { @class = "form-control" })
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-offset-2 col-md-8">
                    @Html.TextBoxFor(Model=>Model.examtype,new {@class="form-control",@placeholder="Enter Exam Type" })
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-offset-2 col-md-8">
                    @Html.TextBoxFor(Model => Model.startdate, new {@class = "form-control", @placeholder = "Start Date",@id="date" })
                </div>
            </div><br />
            <b>To</b>
            <div class="row mt-4">
                <div class="col-md-offset-2 col-md-8">
                    @Html.TextBoxFor(Model => Model.enddate, new {@class = "form-control", @placeholder = "End Date", @id = "date1" })
                </div>
            </div>
            <center>
                <div class="row mt-4">
                    <div class="col-md-offset-2 col-md-8">
                        <button type="button" class="btn btn-success" style="height:35px; width:250px; border-radius:10px;">Save</button>
                    </div>
                </div>
            </center>
        </div> 
    </div>
</body>
</html>
