@model Edujinni.Models.Achievements
@{
//   Layout = null;
}
@using (Html.BeginForm("AddAchievements", "Admin", FormMethod.Post))
{
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddAchievements</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/humanity/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
               
        $.noConflict();
        jQuery(document).ready(function ($) {
            $("#achievements1").datepicker();
        });
    </script>
   
    <style>

        #achievements
        {
            height: 40px;
            width :260px;
            border-radius:20px;   
            margin-right:5px;
        }
           #achievements1
        {
            height: 40px;
            width :260px;
            border-radius:20px;   
            margin-right:5px;
        }
        p
        {
            text-align:center;            
        }
        </style>   

  
</head>
 <body>     
     @{ 
         List<SelectListItem> list = new List<SelectListItem>();
     }
             <p style="font-size:30px;">Add Achievements</p>
             <br />
                 @Html.TextBoxFor(Model => Model.AchievementDate, new {@class = "form-control", @placeholder = "Achievement Date", @id = "achievements1" })
                 <br />    
                 @*@Html.TextBoxFor(Model => Model.classs, new { @class = "form-control", @placeholder = "Select Class", @id = "achievements" })*@
                 @Html.DropDownListFor(Model => Model.classs, list, "Select Class", new { @class = "form-control", @id = "achievements" })
                 <br />
                 @Html.DropDownListFor(Model => Model.section, list, "Select Section", new { @class = "form-control", @id = "achievements" })
                 <br />
                 @Html.DropDownListFor(Model => Model.studentlist, list, "Select Student List", new { @class = "form-control", @id = "achievements" })
                 <br />
                 @Html.TextBoxFor(Model => Model.classs, new { @class = "form-control", @placeholder = "Achievement Type", @id = "achievements" })
                 <br />
                 <textarea name='comment' class="form-control" style="height:150px; width:260px; border-radius:20px;" placeholder="Suresh won first prize in football"></textarea>
                 <br />
                 <input type="button" value="Save" class="btn btn-success" style="width:260px; height:45px; border-radius:10px;" />      
     
 </body>
}
